@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.center-margin{
    margin: 0 auto;
    width: 70vw;

}
body{
    background-color: #b1aeae;
    
}
header{
    margin: 0;
    width: 100%;
    height: 50px;
    /* background-color: #fffafa;     */
}

.menu{    
    display: flex;
    justify-content:space-around;    
    list-style: none;   
    margin: 0;
    height:100%;
    align-items: center;
    padding: 0;
    
    
}
.a-menu{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5em;
       
}
.a-menu:hover{
    color:#7fffd4;
}
/* sobre */
h1{
    padding-top: 0.5em;
    text-align: center;
    font-size: 89px;
    

}
.main-conteiner{
    
    display: flex;
    align-items: center;
    font-size: 2em;
}
main div{
    padding: 0 10px;
}
/* foto de perfil */
main div:nth-child(2){
   align-items:center;
   text-align: center;
   
}
li{
    list-style-type: none;
}

.foto{
    width: 324px;
    border: 5px solid;
    border-radius: 50%;
    
}
.foto:hover{    
    border: 5px solid rgb(1, 61, 1);
    border-radius: 50%;
}

/* footer */
footer{
    width: 100vw;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fffafa;
    
}
footer {    
    display: flex;
    justify-content: end;
    align-items: center;
}
footer a {
    margin-right: 30px;
}

img{
    width: 40px;
}
/* video */
.video{
    margin-top: 2em;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video h2{
    margin-bottom: 0.5em;
}
                        /* Página de contato */
.contato{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    

}
.form-contato{

}

